body { font-family: sans-serif; padding: 20px; }
    .thumbs img { width: 100px; cursor: pointer; margin-right: 10px; }
    #canvasWrapper { width: 600px; height: 400px; border: 1px solid #aaa; margin-top: 20px; position: relative; }
    canvas { width: 100%; height: 100%; background:white; }
    button { margin-top: 20px; padding: 10px 20px; font-size: 16px; }
.good{font-family: sans-serif;
color: black;
font-size: 50px;
font-weight: bold;
text-decoration: none;}

#upload-area label {
    font-size: 20px;
    font-weight: 700;   /* 굵게 */
    color: hotpink;
    font-family: 'Arial', sans-serif;
    text-shadow: 2px 2px 4px rgba(0,0,0,0.3);
}
